[submodule "dist/mrsfast"]
	path = dist/mrsfast
	url = https://github.com/sfu-compbio/mrsfast.git
[submodule "dist/mrssnake"]
	path = dist/mrssnake
	url = https://github.com/bnelsj/mrssnake.git
[submodule "dist/mrcanavar"]
	path = dist/mrcanavar
	url = https://github.com/BilkentCompGen/mrcanavar.git
[submodule "dist/samblaster"]
	path = dist/samblaster
	url = https://github.com/GregoryFaust/samblaster.git
